= link_to article_path(article) do
  .card
    .eyecatch
    .card_article
      .articles_title
        = article.title
      %div
        %p= article.auther_name
        %p= article.display_created_at
