    <div class="container">  
      <div class="all_boards">
        <h2 calss="all_boards_title">All Boards</h2>
      </div>

      
      <div class="card">
        <div class="card_article">
        <div class="title_btn_line">
          <div class="article_title">記事だよ</div>
          <div class="edit_btn">
            <%= image_tag 'Combined Shape.png' %>
          </div>  
        </div>
        
        </div>
      </div>

      <div class="card">
        <div class="card_article">
        <div class="title_btn_line">
          <div class="article_title">記事だよ</div>
          <div class="edit_btn">
            <%= image_tag 'Combined Shape.png' %>
          </div>  
        </div>
        
        </div>
      </div>
      
      <div class="card">
        <div class="card_article">
        <div class="title_btn_line">
          <div class="article_title">記事だよ</div>
          <div class="edit_btn">
            <%= image_tag 'Combined Shape.png' %>
          </div>  
        </div>
        
        </div>
      </div>

      

      
      

      

      

    </div>