<div class="container">  
  <div class="Brackets">
    <h2 calss="Brackets_title">Brackets</h2>
  </div>
  <%= link_to new_article_path do %>
    <div class="new_board">
      <div class="add_new_board">+Add new board</div>
    </div>
  <% end %>
  <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <div class="card">
        <div class="eyecatch">
        </div>
        <div class="card_article">
          <div class="articles_title">
              <%= article.title %>
          </div>
        
        </div>
      </div>
    <% end %>
  <% end %>
</div>