<div class="container">  
  <div class="Brackets">
    <h2 calss="Brackets_title">Brackets</h2>
  </div>
  <%= link_to new_article_path do %>
    <div class="new_board">
      <div class="add_new_board">+Add new board</div>
    </div>
  <% end %>
  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
  <% end %>
</div>