<div class="title">
  <div class="article_title">
    <%= @article.title %>
  </div>
  <div class="article_edit_btn">
    <%= image_tag 'Combined Shape.png' %>
  </div>
</div>
<div class="article_eyecatch">
</div>
<div class="content_box">
  <div class="content">
    <%= @article.content %>
  </div>
</div>
<div class="comment">
  <div class="comment_title">Comment</div>
    <div class="comment_user_icon">
    <div class="comment_user_content">
    </div>
    </div>
</div>

