@import 'card';
@import 'header';
@import 'articles';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

* {
	margin:0;
	padding:0;
}

body {
  height: 100%;
  background-color: #FFFFFF;
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  padding: 0;
 
  // color: $text-base-color;
}

a {
  text-decoration: none;
  color: #000000;
}
.container {
 padding-left: 30px;
 padding-right: 22px;
}