.title {
  display: flex;
}

.article_title {

font-size: 26px;
line-height: 36px;

margin-right: 20px;
margin-top: 32px;


white-space: nowrap; /* 横幅のMAXに達しても改行しない */
overflow: hidden; /* ハミ出した部分を隠す */
text-overflow: ellipsis; /* 「…」と省略 */
}

.article_detail_actions {
margin-left: auto;
margin-top: 37px;
}

.dropbtn {
  border: none;
  display: flex;
  width: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 15px;

  &.mini {
    min-width: 100px;
  }
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  // color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content_box {
width: 100%;
min-height: 200px;
height: auto;
margin-top: 32px;


background: #F4F4F4;
border-radius: 10px;

padding-top: 20px;

 .content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  
  padding-left: 15px;
  padding-bottom: 26px;

 }

}

.comment {
  margin-top: 35px;
}