.title {
  display: flex;
}

.article_title {

font-size: 26px;
line-height: 36px;

margin-right: 20px;
margin-top: 32px;


white-space: nowrap; /* 横幅のMAXに達しても改行しない */
overflow: hidden; /* ハミ出した部分を隠す */
text-overflow: ellipsis; /* 「…」と省略 */
}

.article_edit_btn {
 margin-left: auto;

   img {
    width: 24px;
    height: 6px;

    margin-top: 48px;
   

    
  }
}

.content_box {
width: 100%;
min-height: 200px;
height: auto;
margin-top: 32px;


background: #F4F4F4;
border-radius: 10px;

padding-top: 20px;

 .content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  
  padding-left: 15px;
  padding-bottom: 26px;

 }

}

.comment {
  margin-top: 35px;
}