.btn-primary {
width: 362px;
height: 40px;
left: 30px;
top: 889px;

margin-top: 350px;
margin-bottom: 32px;
border: none;
background: #F8BD1C;
border-radius: 4px;
}

.comment_btn-primary {
  width: 362px;
  height: 40px;
  left: 30px;
  top: 889px;
  
  margin-top: 30px;
  margin-bottom: 32px;
  border: none;
  background: #F8BD1C;
  border-radius: 4px;
}