.card {
margin-bottom: 26px;
height: 161px;


  &_article {
    width: 91%;
    height: 100%;
    padding-left: 17px;
    padding-right: 16px;
    
    
    background: #F4F4F4;
    border-radius: 10px;
  }
}


.articles_title {
font-size: 17px;
padding-top: 32px;
width: 90%;
margin: 0 auto 0 0;
}


  




 

