.new_board {
height: 160px;
left: 30px;
top: 917px;
margin-bottom: 24px;

background: #FFFFFF;
border: 1px dashed rgba(0, 0, 0, 0.2);
border-radius: 10px;
}

.add_new_board {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */
padding-top: 68px;

text-align: center;

color: #000000;
}

.card {
margin-bottom: 26px;
min-height: 180px;
height: auto;
padding-left: 17px;
padding-right: 16px;
padding-bottom: 25px;


background: #F4F4F4;
border-radius: 10px;

  img {
    margin-top: 20px;
    margin-bottom: 17px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;

  }
  
}



.articles_title {
font-size: 17px;
padding-top: 10px;
padding-right: 20px;
width: 90%;
margin: 0 auto 0 0;

white-space: nowrap; /* 横幅のMAXに達しても改行しない */
overflow: hidden; /* ハミ出した部分を隠す */
text-overflow: ellipsis; /* 「…」と省略 */
}

p {
  font-size: 12px;
  margin-top: 5px;
}


  




 

