.new_card {
margin-top: 37px;
margin-bottom: 29px;
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 36px;
/* identical to box height */


color: #000000;
}

.form_title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  
  
  color: #000000;
  
}

.new_title_box {
  width: 362px;
  height: 40px;
  left: 26px;
  top: 190px;
  margin-bottom: 33px;
  
  border: none;
  background: #F4F4F4;
  border-radius: 10px
}

.form_content {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  
  
  color: #000000;
  
}
 
.new_content_box {
  width: 362px;
  height: 203px;
  left: 26px;
  top: 296px;
  
  border: none;
  background: #F4F4F4;
  border-radius: 10px;
  margin-right: 26px;
}