h2 {
margin: 33px 0 33px 0;
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 36px;
/* identical to box height */


color: #000000;

}

.field_1 {
  margin: 0 0 33px 0;
}

.field_2 {
margin: 0 0 16px 0;
}

.sign_up_submit {
  margin: 424px 0 32px 0;
}

 .user_btn {
  width: 362px;
  height: 40px;
  left: 30px;
  top: 889px;
  
  background: #F8BD1C;
  border-radius: 4px;
  border: none;
 }

.log_in_submit {
margin: 524px 0 0 0;
}



.text {
width: 100%;
height: 40px;

background: #F4F4F4;
border-radius: 10px;
border: none;
}

.comment_text {
width: 100%;
height: 150px;

background: #F4F4F4;
border-radius: 10px;
border: none;
}